In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [3]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [4]:
# 觀察有什麼類別
sub_train['WEEKDAY_APPR_PROCESS_START'].unique()

array(['WEDNESDAY', 'MONDAY', 'THURSDAY', 'SUNDAY', 'SATURDAY', 'FRIDAY',
       'TUESDAY'], dtype=object)

In [5]:
# use get_dummies
sub_train_OneHot1 = pd.get_dummies(sub_train)
print(sub_train_OneHot1.shape)
sub_train_OneHot1.head()

(307511, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0

In [6]:
# use sklearn.preprocessing.OneHotEncoder
# OneHotEncoder需要數值型Label當作input，先利用LabelEncoder轉換成數值型Label
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

label_enc = LabelEncoder()
sub_train_Label = label_enc.fit_transform(sub_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train_Label)

[6 1 1 ... 4 6 4]

In [7]:
OneHot_enc = OneHotEncoder()
sub_train_OneHot2 = OneHot_enc.fit_transform(sub_train_Label.reshape(-1,1)).toarray()
sub_train_OneHot2 = pd.DataFrame(sub_train_OneHot2, dtype="int64")
sub_train_OneHot2.columns = label_enc.inverse_transform(list(range(7)))

print(sub_train_OneHot2.shape)
sub_train_OneHot2.head()

(307511, 7)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

   FRIDAY  MONDAY  SATURDAY  SUNDAY  THURSDAY  TUESDAY  WEDNESDAY
0       0       0         0       0         0        0          1
1       0       1         0       0         0        0          0
2       0       1         0       0         0        0          0
3       0       0         0       0         0        0          1
4       0       0         0       0         1        0          0